<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>目录结构</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/pineapple-icon.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
</head>

<body>
    <div class="container">
        <div class="top">
            <div class="top_left"></div>
            <div class="top_right"></div>
        </div>
        <div class="main">
            <div class="left">
                <div class="root_dir_title">
                    目录
                </div>
                <div class="root_dir_con">
                    <div class="root_dir_group">
                        <div class="root_dir_con_title">
                            <div class="rd_title_name">压缩工具</div>
                            <div class="rd_title_sanjiao"><i class="icon iconfont icon-shangsanjiao"></i></div>
                            <div class="rd_title_adddir">+</div>
                        </div>
                        <div class="root_dir_block">
                            <div class="rdb_name">SugarRequire</div>
                            <div class="rdb_close_btn"><span>×</span></div>
                        </div>
                        <div class="root_dir_block root_dir_block_active">
                            <div class="rdb_name">汽车列表</div>
                            <div class="rdb_close_btn"><span>×</span></div>
                        </div>
                        <div class="root_dir_block">
                            <div class="rdb_name">SugarPromise</div>
                            <div class="rdb_close_btn"><span>×</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right_top"></div>
                <div class="right_main">
                    <div class="rm_dir_con">
                        <div class="rm_dir_group">
                            <div class="rm_dir_block rm_dir_close">
                                <div class="rm_dir_info">
                                    <div class="rm_dir_icon"></div>
                                    <div class="rm_dir_name">css</div>
                                    <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                </div>
                                <div class="rm_dir_sub_con"></div>
                            </div>
                            <div class="rm_file_block">
                                <div class="rm_file_icon">JS</div>
                                <div class="rm_file_name">普通文件</div>
                            </div>
                            <div class="rm_dir_block rm_dir_close">
                                <div class="rm_dir_info">
                                    <div class="rm_dir_icon"></div>
                                    <div class="rm_dir_name">JS</div>
                                    <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                </div>
                                <div class="rm_dir_sub_con"></div>
                            </div>
                            <div class="rm_dir_block">
                                <div class="rm_dir_info">
                                    <div class="rm_dir_icon"></div>
                                    <div class="rm_dir_name">temolate</div>
                                    <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                </div>
                                <div class="rm_dir_sub_con">
                                    <div class="rm_dir_group">
                                        <div class="rm_dir_block">
                                            <div class="rm_dir_info">
                                                <div class="rm_dir_icon"></div>
                                                <div class="rm_dir_name">test1</div>
                                                <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                            </div>
                                            <div class="rm_dir_sub_con">
                                                <div class="rm_dir_group">
                                                    <div class="rm_dir_block rm_dir_close">
                                                        <div class="rm_dir_info">
                                                            <div class="rm_dir_icon"></div>
                                                            <div class="rm_dir_name">test1</div>
                                                            <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                                        </div>
                                                    </div>
                                                    <div class="rm_dir_block rm_dir_close">
                                                        <div class="rm_dir_info">
                                                            <div class="rm_dir_icon"></div>
                                                            <div class="rm_dir_name">test2</div>
                                                            <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="rm_file_block">
                                            <div class="rm_file_icon">CSS</div>
                                            <div class="rm_file_name">普通文件</div>
                                        </div>
                                        <div class="rm_dir_block rm_dir_close">
                                            <div class="rm_dir_info">
                                                <div class="rm_dir_icon"></div>
                                                <div class="rm_dir_name">test2</div>
                                                <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="rm_dir_block rm_dir_close">
                                <div class="rm_dir_info">
                                    <div class="rm_dir_icon"></div>
                                    <div class="rm_dir_name">文档</div>
                                    <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                </div>
                                <div class="rm_dir_sub_con">
                                    <div class="rm_dir_group">
                                        <div class="rm_dir_block rm_dir_close">
                                            <div class="rm_dir_info">
                                                <div class="rm_dir_icon"></div>
                                                <div class="rm_dir_name">test1</div>
                                                <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                            </div>
                                        </div>
                                        <div class="rm_dir_block rm_dir_close">
                                            <div class="rm_dir_info">
                                                <div class="rm_dir_icon"></div>
                                                <div class="rm_dir_name">test2</div>
                                                <div class="rm_dir_mark"><i class="icon iconfont icon-xiajiantou"></i></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
