<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>目录结构</title>
    <link rel="stylesheet" href="../css/base.css">
    <link rel="stylesheet" href="../css/pineapple-icon.css">
    <link rel="stylesheet" href="iconfont/iconfont.css">
</head>

<body>
    <div class="container">
        <!-- <div class="top">
            <div class="top_left"></div>
            <div class="top_right"></div>
        </div> -->
        <div class="main">
            <div class="left">
                <div class="root_dir_title">
                    目录
                </div>
                <div class="root_dir_con">
                    <div class="root_dir_group" id="consoletool_dircon">
                        <!-- <div class="root_dir_con_title">
                            <div class="rd_title_name">压缩工具</div>
                            <div class="rd_title_sanjiao"><i class="icon iconfont icon-shangsanjiao"></i></div>
                            <div class="rd_title_adddir">+</div>
                        </div> -->
                        <div class="root_dir_block">
                            <div class="rdb_icon">
                                <div class="pineapple-icon-play"></div>
                            </div>
                            <div class="rdb_name">SugarRequire</div>
                            <div class="rdb_close_btn"><span>×</span></div>
                        </div>
                        <div class="root_dir_block root_dir_block_active">
                            <div class="rdb_icon">
                                <div class="pineapple-icon-play pineapple-no-color"></div>
                            </div>
                            <div class="rdb_name">汽车列表</div>
                            <div class="rdb_close_btn"><span>×</span></div>
                        </div>
                        <div class="root_dir_block">
                            <div class="rdb_icon">
                                <div class="pineapple-icon-pause"></div>
                            </div>
                            <div class="rdb_name">SugarPromise</div>
                            <div class="rdb_close_btn"><span>×</span></div>
                        </div>
                        <div class="root_dir_block">
                            <div class="rdb_icon">
                                <div class="pineapple-icon-pause pineapple-no-color"></div>
                            </div>
                            <div class="rdb_name">SugarPromise</div>
                            <div class="rdb_close_btn"><span>×</span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="right_top"></div>
                <div class="right_main">
                    <div class="console_container">
                        <div class="console_group">
                            <div class="console_group_title">汽车列表</div>
                            <div class="console_block">
                                <div class="console_block_icon" style="color:#d6313a;">
                                    <div class="pineapple-icon-error"></div>
                                </div>
                                <div class="console_block_text">打印了第1条信息</div>
                                <div class="console_block_time">2小时前</div>
                            </div>
                            <div class="console_block">
                                <div class="console_block_icon" style="color:#d6313a;">
                                    <div class="pineapple-icon-warn"></div>
                                </div>
                                <div class="console_block_text">打印了第2条信息</div>
                                <div class="console_block_time">2小时前</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
